/*
Terminal Theme: Solarized
https://ethanschoonover.com/solarized/
*/



.window {
  background-color: #002b36; /* possibly use white? */
  border-radius: 1.5vw;
  overflow: hidden;
  margin: 20px auto auto auto;
  width: 80vw;
  height: 43vw;
  position: relative;
  box-shadow: 10px 10px 6px rgba(0,0,0,0.2);
  /* Add media for mobile */
}

.window-top {
  padding-left: 1.3vw;
  max-height: calc(1vw + 1.5vw);
  display: flex;
  flex-direction: row;
}

.window-body {
  padding: 2vw 4vw 2vw 4vw;
  font-size: 2vw;
  /* Following lines reverse the direction of the flow of text */
  /* we want this to happen after the terminal has filled up */
  position: absolute;
  /* bottom: 0; */
}

.dot {
  height: 1vw;
  width: 1vw;
  border-radius: 50%;
  margin: 1.5vw 0.8vw 0 0;
}
.dot.green {background-color: rgb(42, 199, 52);}
.dot.yellow {background-color: rgb(254 177 37);}
.dot.red {background-color: rgb(252, 72, 72);}

@media (min-width: 1300px) {
  .window {
    max-width: calc(1300px * 0.8);
    max-height: calc(1300px * 0.43);
    border-radius: calc(1300px * 0.015);
  }
  .window-top {
    padding-left: calc(1300px * 0.013);
  }
  .window-body {
    padding: calc(1300px * 0.02) calc(1300px * 0.04);
    font-size: calc(1300px * 0.02);
  }
  .dot {
    max-height: calc(1300px * 0.01);
    max-width: calc(1300px * 0.01);
    margin: calc(1300px * 0.015) calc(1300px * 0.008) 0 0;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blinker 1s step-start infinite;
}

.comment {color: #586e75;}
.base {color: #657b83;}
.yellow {color: #b58900;}
.orange {color: #cb4b16;}
.red {color: #dc322f;}
.magenta {color: #d33682;}
.violet {color: #6c71c4;}
.blue {color: #268bd2;}
.cyan {color: #2aa198;}
.green {color: #859900;}
.white {color: #A3A3A3;}
.bold {font-weight: 1000;}

.textComponent {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  white-space: pre;
  margin: 0;
  padding: 0;
}
