/* Wave Generator:
https://getwaves.io/ */

.App {
  background-color: #89afb2;
  overflow-x: hidden;
}

.display {
  padding: 168px 0 50px 0;
}

.main {
  color: #1a2a3a;
  background-color: #fff;
  padding: 100px;
}

.second { /* add max width to main and second */
  background-color: #89afb2;
  color: #fff;
  padding: 100px;
}

svg {
  transform: scale(1.04); /* FIX LATER */
}

nav {
  background-color: #fff;
  color: #1a2a3a;
  font-weight: 600;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

footer {
  color: white;
  text-align: center;
}



/* mobile */
@media (max-width: 770px) {}
