/* Wave Generator:
https://getwaves.io/ */

.App {
  background-color: #89afb2;
  overflow-x: hidden;
}

nav {
  background-color: #fff;
  color: #1a2a3a;
  font-weight: 600;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.navbar-logo {
  margin-right: 10px;
}

.navbar-logo:hover {
  cursor: pointer;
}

.nav-link:hover {
  cursor: pointer;
}

.nav-link:active {
  color: black !important;
}

.display {
  padding: 168px 0 50px 0;
}

div.section {
  padding: 100px 0;
}

.main {
  color: #1a2a3a;
  background-color: #fff;
}

.second { /* add max width to main and second */
  background-color: #89afb2;
  color: #fff;
}

.content {
  max-width: 70vw;
  margin: auto auto 30px auto;
  font-size: 20px;
}

.content > h1.big {
  font-size: 50px !important;
  max-width: 70vw;
  margin-bottom: 15px;
}

.covid {
  background-color: #ffe6e6;
  border-radius: 5px;
  padding: 10px;
}

svg {
  transform: scale(1.04); /* FIX LATER */
}

footer {
  color: white;
  text-align: center;
}

footer > div > div {
  margin: 25px;
}



/* mobile */
@media (max-width: 770px) {}
